.form {
    background-color: white;
    padding: 32px;
    position: relative;
    z-index: 4;
    box-shadow: 0 75px 100px -50px #38425550;
}

.form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    padding-bottom: 14px;
    padding-left: 16px;
    color: var(--Cod-gray);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.form input:hover {
    border-color: var(--Cod-gray);
    cursor: pointer;
}

.form input::placeholder {
    color: var(--Cod-gray);
    opacity: 0.5;
}

.field-container {
    margin-bottom: 2.125rem;
    position: relative;
}

.field-container:has(label) {
    display: grid;
    gap: 0.5rem;
}

.label-wrapper {
    position: relative;
    height: fit-content;
}

.label-wrapper label {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--Cod-gray);
}

.inputs-wrapper {
    display: grid;
    grid-template-columns: 27% 27% 1fr;
    gap: 16px;
}

.people-field {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8e8e8e;
}

.people-field button {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    height: 24px;
    padding: 0 19px;
}

.people-field button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.people-field input {
    border: none;
    text-align: center;
    cursor: unset !important;
    font-weight: 700;
}

.form > button {     /* submit button */
    width: 100%;
    color: white;
    background-color: var(--Cod-gray);
    border: none;
    height: 4rem;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    letter-spacing: 0.15625rem;
}

.form > button:hover {
    border: 1px solid var(--Cod-gray);
    color: var(--Cod-gray);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s;
}

@media (min-width: 30rem) {
    .form {
        padding: 48px;
    }
    .field-container:has(label) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inputs-wrapper {
        min-width: 250px;
        width: 18.0625rem;
        max-width: 100%;
    }
}

/*======== INVALID INPUT STYLES ==================*/
.err-message {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    font-size: 0.825rem;
    font-weight: 500;
    color: #b54949;
    width: max-content;
}

.label-wrapper .err-message {
    top: 100%;
}

.invalid-field input,
.invalid-field input::placeholder,
.invalid-field label {
    color: #b54949;
    border-color: #b54949;
}